---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import ProfileIcon from "../icons/Profile.astro";
import CodeIcon from "../icons/Code.astro";
---

<Layout
  title="Portafolio | Freddy - Data Scientist & PYthon Developer."
  description="Contrata a Freddy para tus proyectos de data. Data Scientist & Python Developer. Especializado en Machine Learning e Inteligencia Artificial."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-32">
      <Hero />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center md:text-3xl lg:text-4xl">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-2xl font-semibold mb-6 flex gap-x-3 items-center md:text-3xl lg:text-4xl"
      >
        <ProfileIcon class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contacto">
      <Contact />
    </SectionContainer>
  </main>
</Layout>
