---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro"
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro"
import MailIcon from "../icons/Mail.astro"
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout 
  title="Portafolio de Freddy - Data Scientist & Full Stack Web Developer."
  description="Contrata a Freddy para tus proyectos de data. Data Scientist & Full Stack Web Developer. Especializado en Ingenieria de Datos y Desarrollo Backend"
>
  <main>
    <SectionContainer class="py-32 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/78459929?v=4"
        alt="Freddy"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy Freddy<a
          href="https://www.linkedin.com/in/freddypinto-"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-2xl text-wrap">
        <span class="text-yellow-200/90 font-semibold"
          >Data Scientist & Full-Stack Web Developer
        </span><span class="opacity-75"
          >con background en Procesos Químicos, especializado en
        </span><span class="font-semibold text-red-200/90"
          >Data Engineering y Backend Development</span
        >
      </h2>

      <div class="flex gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/freddypinto-">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/FreddyPinto">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:freddypinto@outlook.com">
          <MailIcon class="size-4 md:size-6" />
          freddypinto@outlook.com
        </SocialPill>
      </div>
    </SectionContainer>
      
  </main>
</Layout>
