<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Est placerat in
      egestas erat imperdiet sed euismod nisi porta. Vitae elementum curabitur
      vitae nunc sed velit dignissim sodales ut.
    </p>

    <p>
      Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
      Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Proin
      nibh nisl condimentum id venenatis.
    </p>

    <p>
      Lectus urna duis convallis convallis tellus. In fermentum posuere urna nec
      tincidunt praesent semper. Enim eu turpis egestas pretium aenean pharetra
      magna. Congue mauris rhoncus aenean vel elit scelerisque. Faucibus et
      molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Non tellus
      orci ac auctor augue mauris augue.
    </p>
    <img src="/profile-picture.webp" class="rounded-full size-64" />
  </div>
</section>
