---
const personalImageAlt = "Freddy Pinto";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Me llamo Freddy. Soy <strong>Data Scientist</strong> con un background
      en Procesos Químicos y especializado en <strong
        >Machine Learning e Inteligencia Artificial</strong
      >. Mi carrera se centra en desarrollar <strong
        >soluciones innovadoras en la nube</strong
      >.
    </p>

    <p>
      Uno de mis logros destacados fue ser <strong>ganador del 3er lugar</strong
      > en el Innovation Challenge Hackathon de Microsoft, donde participé en <strong
        ><em class="italic">SafeHealthAI</em></strong
      >, una aplicación web que <strong>mejoró diagnósticos médicos</strong> mediante
      modelos predictivos, con un enfoque en <strong
        >la protección de datos personales</strong
      >.
    </p>

    <p>
      Disfruto enfrentar desafíos complejos, aprender continuamente y colaborar
      en equipo. Me motiva aplicar mis conocimientos para crear proyectos que <strong
        >generen un impacto positivo en la sociedad</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/profile-picture.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl ring-2 ring-gray-300"
    style="object-position: 50% 50%"
  />
</article>
