---
import SocialPill from "./SocialPill.astro";
import SendIcon from "../icons/Send.astro";
---

<aside
  class="flex flex-col items-center gap-5 border-t border-b py-5 w-full mx-auto max-w-screen-lg md:py-10 md:flex-row md:justify-between"
>
  <h2 class="text-xl text-center max-w-[15ch] md:text-3xl md:text-left">
    ¿Interesado en trabajar juntos?
  </h2>
  <SocialPill href="mailto:freddypinto@outlook.com">
    Envíame un mensaje
    <SendIcon class="size-4 md:size-6" />
  </SocialPill>
</aside>
